.profile-sidebar {
    padding-top: 15px;

    height: fit-content;

    ul {
        list-style: none;
        a {
            display: flex;
            align-items: center;

            padding: 5px;
            margin-bottom: 10px;

            &:hover {
                background-color: aliceblue;
                cursor: pointer;
            }


            span {
                margin-left: 4px;
            }
        }
    }
}