.product-view {
  width: 100%;
}
.product-view-content {
  padding: 0px var(--space-16);
}
.product-view-content form {
  display: flex;
  flex-direction: column;
  gap: var(--space-18);
  padding: var(--space-50);

  border-radius: var(--radius-20);

  box-shadow: var(--space-12) var(--space-12) var(--space-30) #33405e;
}
.product-view-content-main {
  display: flex;
  flex-direction: column;
}
.product-view-content-button {
  display: flex;
  justify-content: end;
  gap: var(--space-12);
}
.product-view-content-button button {
  padding: var(--space-12);
  border-radius: var(--radius-5);
  border: none;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}
.product-view-content-button-cancel {
  background: #324063;
  color: var(--color-bg-gray-1);
}
.product-view-content-button-cancel:hover {
  background: #3a4a74;
}
.product-view-content-button-save {
  background: var(--color-bg-success);
  color: var(--color-text-white);
}
.product-view-content-button-save:hover {
  background: #149e4b;
}
.product-view-content-images {
  display: flex;
  justify-content: center;
  gap: var(--space-16);
}
.product-view-content-images-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-20);
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.product-view-content-images-item img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  object-fit: cover;
}
.product-view-content-images-item svg {
  position: absolute;
  font-size: var(--font-40);
  color: rgba(240, 240, 240, 1);
  z-index: 998;
}
.product-view-content-images-item input {
  position: absolute;
  width: 100%;
  height: 100%;
  color: transparent;
  cursor: pointer;
  z-index: 999;
}
.product-view-content-images-item input:hover {
  background: rgba(0, 0, 0, 0.3);
}
.product-view-content-images-item input[type="file"]::file-selector-button,
.product-view-content-images-item
  input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.product-view-content-main {
  width: 100%;
  display: flex;
  gap: var(--space-18);
  color: #cccccc;
}
.product-view-content-main > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-14);
}
.product-view-content-main-item-input {
  width: 100%;
  outline: none;
  border: var(--border-width-1) transparent;
  background-color: #1c2f57;
  color: var(--color-bg-gray-1);
  padding: var(--space-12);
}
.product-view-content-main-item-input:hover {
  border: var(--border-width-1) #3a60b3;
}
.product-view-content-main-item-input:focus {
  border: var(--border-width-1) #3a60b3;
  outline: var(--border-width-2) #3a60b3;
}
.product-view-content-main-item-textarea {
  width: 100%;
  resize: vertical;
  height: 150px;
  min-height: 100px;
  max-height: 400px;
  outline: none;
  border: var(--border-width-1) transparent;
  background-color: #1c2f57;
  color: var(--color-bg-gray-1);
  padding: var(--space-12);
}
.product-view-content-main-item-textarea:hover {
  border: var(--border-width-1) #3a60b3;
}
.product-view-content-main-item-textarea:focus {
  border: var(--border-width-1) #3a60b3;
  outline: var(--border-width-2) #3a60b3;
}
.product-view-content .productInfo span {
  color: #67677a;
}

.product-view-content .productInfo .title .icon {
  width: 18%;
  flex: 0 0 18%;
  margin-right: 7px;
}

.product-view-content .productInfo .title .icon svg {
  font-size: 20px;
}

.product-view-content .productInfo .title .name {
  width: 82%;
  flex: 0 0 82%;
}

body.dark .product-view-content .productInfo .title span {
  color: #b3b8c4;
  font-weight: bold;
}

body.dark .product-view-content .productInfo .productContent span {
  color: #99a0af;
}

.product-view-content .productInfo .productContent #oldPrice {
  color: rgba(240, 51, 51, 0.8);
  font-size: 14px;
  text-decoration: line-through;
}

.product-view-content .productInfo .productContent .tags {
  margin-bottom: 0px;
}

.product-view-content .productInfo .productContent .tags li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
  border-radius: 5px;
  padding: 2px 10px;
  margin-bottom: 5px;
  font-size: 13px;
}

body.dark .product-view-content .productInfo .productContent .tags li span {
  background: #15223f;
}

.ratingSection {
  width: 500px;
}

.ratingSection .ratingRow {
  width: 100%;
  margin-bottom: 10px;
}

.ratingSection .ratingRow .col1 {
  width: 15%;
  flex: 0 0 15%;
  display: flex;
}
.ratingSection .ratingRow .col2 {
  width: 50%;
  flex: 0 0 50%;
}

.ratingSection .ratingRow .col2 .progress {
  height: 5px;
  background: #cccccc;
}

body.dark .ratingSection .ratingRow .col2 .progress {
  background: #000;
}

.ratingSection .ratingRow .col2 .progress .progress-bar {
  background: #ebd213;
}

.ratingSection .ratingRow .col3 {
  width: 25%;
  flex: 0 0 25%;
  display: flex;
  padding-left: 20px;
}

.reviewsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviewsSection .reviewsRow {
  width: 100%;
  height: auto;
  padding: 35px;
  border-radius: 10px;
  margin-bottom: 15px;
  background: #ededed;
}

.reviewsSection .reviewsRow.reply {
  width: 90%;
  margin-left: auto;
}

body.dark .reviewsSection .reviewsRow {
  background: #071739;
}

.userInfo h6 {
  margin-bottom: 0px;
}

.userInfo .MuiRating-root span {
  color: #faaf00;
}
.reviewForm {
  width: 100%;
}

.reviewForm textarea {
  width: 100%;
  height: 200px;
  padding: 15px;
  border-radius: 10px;
  outline: #dbdbdb;
  border: 1px solid #dbdbdb;
  background: #f4f4f4;
}

body.dark .reviewForm textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body.dark .reviewForm textarea {
  outline: navajowhite;
  background-color: #132345;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid #0b1a3a;
}
