.result-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-2xs);
  user-select: none;
}

.result-item .result-info {
  display: flex;
  align-items: center;
  width: 80%;
  gap: var(--space-sm);
  padding: var(--space-xs);
  margin-left: var(--space-md);
}

.result-item .result-info img {
  width: 40px;
  height: 40px;
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.2);
}

.result-item .actions {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.result-item .actions button {
  display: flex;
  align-items: center;
  min-width: 28px;
  height: 28px;
  width: 28px;
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  transition: all 0.1s ease;
}

.result-item .actions button svg {
  color: #000;
  opacity: 0.7;
  pointer-events: none;
  font-size: 15px;
}

.result-item .actions button:hover {
  background: var(--color-bg-primary);
}

.result-item .actions button:hover svg {
  color: #fff;
}
