.home-category {
  position: relative;
}

.home-category .swiper {
  overflow: visible;
}
.home-category .swiper-button-prev,
.home-category .swiper-button-next {
  top: -10px;
  width: 30px;
  height: 30px;
}

.home-category .swiper-button-prev {
  right: 68px;
  left: inherit;
}
.home-category .swiper-button-prev::after,
.home-category .swiper-button-next::after {
  font-size: var(--font-2lg);
}

.home-category .category-item-wrapper {
  min-width: min-content !important;
}
.home-category .category-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  cursor: pointer;
}

.home-category .category-item > * {
  flex-shrink: 0;
}

.home-category .category-item img {
  width: 50%;
  transition: all 0.2s ease;
}
.home-category .category-item img:hover {
  scale: 1.3;
}
