.home-category {
  display: flex;

  .swiper {
    overflow: visible;

    .swiper-button-prev,
    .swiper-button-next {
      top: -10px;
      width: 30px;
      height: 30px;
    }

    .swiper-button-prev {
      right: 68px;
      left: inherit;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 16px;
    }
  }
}

.home-category .category-item {
  padding: var(--space-sm) var(--space-md);
  border-radius: 10px;
}

.home-category .category-item img {
  width: 100%;
  transition: all 0.2s ease;
}
.home-category .category-item img:hover {
  scale: 1.3;
}
