.homeCat {
  position: relative;
  margin-top: 50px;
  
  .swiper {
    overflow: visible;

    .item {
      padding: 15px;
      width: 100%;
      height: auto;
      border-radius: 10px;

      img {
        width: 90%;
        transition: all 0.2s ease;
      }

      &:hover img {
        transform: scale(1.3);
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      top: -10px;
      width: 30px;
      height: 30px;
    }

    .swiper-button-prev {
      right: 68px;
      left: inherit;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 16px;
    }
  }
}
