.country-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 170px;
  height: 50px;
  min-width: 150px;
  padding: var(--space-md) var(--space-lg);
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-sm);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: var(--color-bg-primary);
}
.country-selector:hover {
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.country-selector .country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.country-selector .country-info .country-label {
  font-size: var(--font-sm);
  color: var(--color-text-primary);
  opacity: 0.6;
}

.country-selector .country-info .country-name {
  font-size: var(--font-md);
  color: var(--color-bg-primary-muted);
}

.country-modal {
  padding: 25px;
  overflow-y: hidden;
}

.country-search {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  background: #f3f4f7;
  padding: var(--space-md);
  border-radius: var(--radius-xs);
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
}

.country-search input {
  background: transparent;
  outline: none;
  font-size: 16px;
  width: 100%;
  height: 30px;
  border: 0px !important;
  padding: 0px 15px !important;
}

.country-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.country-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--space-md);
}

.country-modal .country-list {
  margin-bottom: 0;
  max-height: 400px;
  overflow-y: scroll;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.country-modal .country-list li {
  justify-content: start;
  color: var(--color-text-primary);
  padding: var(--space-md) var(--space-lg);
  cursor: pointer;
  font-size: var(--font-2lg);
  font-weight: 500;
}
.country-modal .country-list li:hover {
  color: var(--color-text-accent);
}
.country-modal .country-list li.active {
  color: var(--color-text-accent);
}

.close-button {
  position: absolute;
  top: var(--space-xl);
  right: var(--space-xl);
  color: var(--color-text-primary);
  padding: 0px 0px;
}

.close-button svg {
  font-size: var(--font-xl);
}

/* SMARTPHONES PORTRAIT */
/* @media only screen and (max-width: 300px) {
  .country-selector {
    width: 50px;
    height: 35px;
    padding: var(--space-md) var(--space-lg);
  }

  .country-selector .country-info .country-label {
    font-size: var(--font-sm);
    color: var(--color-text-primary);
    opacity: 0.6;
  }

  .country-selector .country-info .country-name {
    font-size: var(--font-sm);
    color: var(--color-bg-primary-muted);
  }
} */

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
  .country-selector {
    width: 50px;
    height: 35px;
    padding: var(--space-md) var(--space-lg);
  }

  .country-selector .country-info .country-label {
    font-size: var(--font-sm);
    color: var(--color-text-primary);
    opacity: 0.6;
  }

  .country-selector .country-info .country-name {
    font-size: var(--font-sm);
    color: var(--color-bg-primary-muted);
  }
}

/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
}
