.country-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 170px;
  height: 50px;
  min-width: 150px;
  padding: var(--space-md) var(--space-lg);
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-sm);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: var(--color-bg-primary);
}
.country-selector:hover {
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.country-selector .country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.country-selector .country-info .country-label {
  font-size: var(--font-sm);
  color: var(--color-text-primary);
  opacity: 0.6;
}

.country-selector .country-info .country-name {
  font-size: var(--font-md);
  color: var(--color-bg-primary-muted);
}


.country-search {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  background: #f3f4f7;
  padding: var(--space-md);
  border-radius: var(--radius-xs);
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
}

.country-search input {
  background: transparent;
  outline: none;
  font-size: 16px;
  width: 100%;
  height: 30px;
  border: 0px !important;
  padding: 0px 15px !important;
}

.country-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.country-modal {
  padding: 25px;
  position: relative;
}

.country-modal .country-list {
  margin-bottom: 0;
  max-height: 400px;
  overflow-y: scroll;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.country-modal .country-list li {
  width: 100%;
}
.country-modal .country-list li button {
  width: 100%;
  color: var(--color-text-primary);
  justify-content: flex-start;
  padding: 15px 20px;
}

.country-modal .country-list li button:hover {
  background: #f1f1f1 !important;
}

.country-modal .country-list li button.active {
  background: #ccc !important;
}

.close-button {
  position: absolute;
  top: var(--space-xl);
  right: var(--space-xl);
  color: var(--color-text-primary);
  padding: 0px 0px;
}

.close-button svg {
  font-size: var(--font-xl);
}
