.homeCat {
  padding: 35px 0px;

  .swiper {
    overflow: inherit !important;

    .item {
      padding: 15px;
      width: 100%;
      height: auto;
      border-radius: 10px;

      img {
        width: 90%;
        transition: all 0.2s ease !important;
      }

      &:hover img {
        transform: scale(1.3);
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: -30px !important;
    width: 30px I !important;
    height: 30px !important;
  }

  .swiper-button-prev {
    right: 68px !important;
    left: inherit;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 12px !important;
  }
}
