.product-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 600px;
}
.product-modal .MuiPaper-elevation {
  position: relative;
  padding: var(--space-50);
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
}
.product-modal-close-button {
  margin-left: auto;

  width: 30px;
  min-height: 30px;
}
.product-modal-header-rating {
  display: flex;
  gap: var(--space-18);

}

.product-modal-header-rating > * {
  border-left: var(--border-width-2) rgba(0, 0, 0, 0.1);
}

.product-modal-header-rating > *:first-child {
  border-left: none;
}

.product-modal-content {
  display: flex;

}
.product-modal-content-thumbnails {
  /* width: 100%; */
  height: auto;
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
}
.product-modal-content-thumbnails .badge {
  position: absolute !important;
  top: 20px !important;
  left: 20px !important;
  z-index: 100;
}

.product-modal-content-main {
  display: flex;
  flex-direction: column;
}
.product-modal-main-content-prices {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  font-family: var(--font-dosis);
}
.product-modal-main-content-prices-old-price {
  
  color: var(--color-text-gray);
  text-decoration: line-through;
  font-size: var(--font-16);
  font-weight: 600;
}
.zoomSliderBig {
  /* width: 100% !important; */
}

.zoomSlider {
  padding-top: 30px;
}
.zoomSlider .slick-slide {
  padding-right: 20px !important;
}
.zoomSlider * {
  outline: none !important;
}
.zoomSlider .item {
  border: 2px solid transparent !important;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}
.zoomSlider .slick-current .item {
  border: 2px solid #3bb77e !important;
}
.zoomSlider .slick-arrow {
  top: 55% !important;
  zoom: 80% !important;
}
.zoomSlider .slick-arrow.slick-next {
  right: -2% !important;
}
.zoomSlider .slick-arrow.slick-prev {
  left: -5% !important;
}
