.search-result {
  position: absolute;
  height: 300px;
  width: 100%;
  z-index: 1000;
  border-radius: 10px;

  box-shadow: 2px 2px 2px 2px #f3f4f7;
  border: var(--border-width-hairline) #f3f4f7;
  background-color: #fff;
  overflow-y: scroll;
  transition: all 1s ease-in;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
  }
}
