.search-result {
    height: 300px;
    border-radius: 10px;

    box-shadow: 2px 2px 2px 2px #f3f4f7;
    border: var(--border-width-hairline) #f3f4f7;
    background-color: var(--color-on-primary);
    
    z-index: 100;
    overflow-y: scroll;
    transition: all 1s ease-in;

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
    }
  }