.order-item {
    display: flex;
    flex-direction: column;
}

.order-item-product {
    display: flex;
    align-items: start;
}
.order-item-product-thumbnail {
    width: 200px;
    height: 200px;
    inset: 0;
}
.order-item-product-content-prices {
    display: flex;
    align-items: center;
    gap: var(--space-8);
}
.order-item-product-content-prices-old-price {
  color: var(--color-text-gray-1);
  text-decoration: line-through;
  font-size: var(--font-16);
  font-weight: 600;
}
.order-item-product-content-prices-net-price {
  color: var(--color-text-red-1);
  font-size: var(--font-18);
  font-weight: 600;
}