.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-page-content {
  width: 900px;
}
@media (max-width: 480px) {
  .profile-page {
    flex-direction: column;
  }
}