.profile-page {
  display: flex;
  justify-content: center;
  align-items: start;
}
.profile-page-content {
  width: 900px;
  padding: var(--space-16);
}
@media (max-width: 480px) {
  .profile-page {
    flex-direction: column;
  }
}