.site-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow-y:scroll;
    display: none;
    background-color: #fff;

    transform: translate(-375px, 0px);
    transition: all 2s ease-in-out;

    z-index: 1000;
    overflow-y: auto;
    
}
/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
    body {
        overflow: hidden;
    }
    .site-canvas {
        display: block;
        transform: translate(0px, 0px);
    }
  
}
/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
}
