.product-reviews  {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.page {
    padding: 10px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    
}