.dashboard-box {
  padding: var(--space-12);
  border-radius: var(--radius-5);
}
.dashboard-box-icon {
    display: flex;
    justify-content: space-between;
  color: var(--color-text-white);
  font-size: var(--font-26);
}
.dashboard-box-content {
  display: flex;
}
.dashboard-box-content-header > * {
  color: var(--color-text-white);
}

.dashboard-box-period {
    display: flex;
    align-items: center;
    gap: var(--space-12);
    font-size: var(--font-20);
}
.dashboard-box-period-action-button {
    border: none;
    padding: var(--space-4);
    border-radius: var(--radius-5);
    background: transparent;
    color: var(--color-text-white);
    cursor: pointer;
}
.dashboard-box-period-action-button:hover {
    background: rgba(229, 229, 229, 0.4);
}