.navigate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 210px;
}

.categories-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.categories-wrapper .categories-button {
  gap: var(--space-10);
  width: 200px;
  height: 55px;
  padding: var(--space-2) var(--space-10);
  border-radius: var(--radius-35);
  font-size: var(--font-14);
}

.categories-wrapper .categories-button .icon:last-child {
  margin-left: auto;
}

.categories-wrapper .sub-categories-section {
  position: absolute;

  background: var(--color-bg-white);
  top: 72px;
  width: 260px;
  height: max-content;
  left: 0px;
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
  border-top: none;
  border-bottom-left-radius: var(--radius-10);

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3 ease;
  pointer-events: none;
  z-index: 1000;
}

.categories-wrapper .sub-categories-section-show {
  transform: scaleY(1);
  pointer-events: auto;
}
.categories-wrapper .sub-categories-section ul {
  padding-inline-start: 0px !important;
}

.categories-wrapper .sub-categories-section ul li {
  padding: var(--space-8) var(--space-12);
}

.categories-wrapper .sub-categories-section ul li a {
  color: var(--color-text-black);
  min-width: 100%;
  justify-content: start;
  gap: var(--space-8);
  font-size: var(--font-16);
  font-weight: 300;
}
.categories-wrapper .sub-categories-section ul li a:hover {
  color: var(--color-text-red-1)
}
.categories-wrapper .sub-categories-section ul li svg {
  font-size: var(--font-14);
  opacity: 0.5;
}
.categories-wrapper .sub-categories-section ul li svg:last-child {
  margin-left: auto;
}

.categories-wrapper .sub-categories-section ul li .sub-categories {
  position: absolute;
  top: 0px;
  left: 259px;
  width: 250px;
  min-height: 452px;
  padding-top: var(--space-12);
  background: var(--color-bg-white);
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
  border-top: none;
  border-left: none;
  border-bottom-right-radius: var(--radius-10);
  
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.categories-wrapper .sub-categories-section ul li:hover .sub-categories {
  opacity: 1;
  z-index: 1000;
}

.categories-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-10);
  padding-inline-start: 0px !important;

  list-style-type: none;
}
.categories-navigation .menu-item {
  display: flex;
  gap: var(--space-6);
}

.categories-navigation li a {
  font-size: 14px !important;
  font-weight: 500;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}

.categories-navigation li a:hover {
  background: var(--color-bg-red-4);
  color: var(--color-text-red-1);
}

.categories-navigation li {
  position: relative;
}
.categories-navigation li .sub-categories {
  position: absolute;
  top: 150%;
  left: 0px;
  min-width: 150px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.categories-navigation li .sub-categories a {
  display: block;
  width: 100%;
}
.categories-navigation li .sub-categories a button {
  width: 100%;
  justify-content: flex-start !important;
  border-radius: 0px !important;
  text-transform: capitalize !important;
  font-weight: 500 !important;
}

.categories-navigation li .sub-categories a button:hover {
  background: #f1f1f1 !important;
}

.categories-navigation ul li:hover .sub-categories {
  opacity: 1;
  visibility: inherit;
  top: 100%;
}

/* {
  .navPart1 {
    max-width: 20%;
    flex: 0 0 20%;

    .categories-wrapper {
      position: relative;

      .sub-categories-section {
        width: 200px;
        height: 0;
        opacity: 0;
        background: #fff;
        position: absolute;
        top: 115%;
        left: 0px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 15px 0px;
        transition: all 0.2;
        z-index: 1000;
        visibility: hidden;

        &.open {
          height: auto;
          opacity: 1;
          visibility: inherit;
        }

        ul {
          li {
            position: static;

            width: 100%;
            list-style: none;
            padding: 0px 15px;

            button {
              color: #000;
              width: 100%;
              justify-content: flex-start;
              text-transform: capitalize !important;

              svg {
                font-size: 14px;
                opacity: 0.5;
              }

              &:hover {
                background: transparent !important;
              }
            }

            .sub-categories {
              position: absolute;
              top: 0px;
              left: 105%;
              width: 250px;
              height: 100%;
              background: #fff;
              z-index: 100;
              opacity: 0;
              visibility: hidden;
              border-left: 1px solid rgba(0, 0, 0, 0.1);
              padding: 20px;
            }

            &:hover {
              .sub-categories {
                opacity: 1;
                visibility: inherit;
                left: 100%;
                transition: all 0.2s ease-in-out;

                button {
                  border-radius: 0px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .categories-section {
    max-width: 80%;
    flex: 0 0 80%;

    ul {
      margin-bottom: 0px;

      li {
        position: relative;

        padding-bottom: 20px;

        a {
          text-decoration: none;

          button {
            font-size: 14px !important;
            font-weight: 500;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.8);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            padding: 10px 15px;
            transition: all 0.2s ease-in-out;
            border-radius: 20px;
          }
          &:hover {
            background: #f0faff;
            color: #2bbef9;

            
          }
        }

        .sub-categories {
          position: absolute;
          top: 150%;
          left: 0px;
          min-width: 150px;
          background: #fff;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s ease-in-out;
          z-index: 100;

          a {
            display: block;
            width: 100%;

            button {
              width: 100%;
              justify-content: flex-start !important;
              border-radius: 0px !important;
              text-transform: capitalize !important;
              font-weight: 500 !important;

              &:hover {
                background: #f1f1f1 !important;
              }
            }
          }
        }

        &:hover {
          .sub-categories {
              opacity: 1;
              visibility: inherit;
              top: 100%;
            }
        }
      }
    }
  }
}

.categories-button {
  padding: 10px 15px !important;
  border-radius: 30px !important;

  color: #fff;
  background: rgba(255, 0, 0, 0.61);

  .text {
    display: flex;
    align-items: center;

    font-weight: 600;

    .icon {
      box-sizing: content-box;

      padding-bottom: 2px;

      font-size: 20px;
    }

    &:hover {
      background: rgba(255, 0, 0, 0.81);
    }
  }
} */
