nav .navPart1 {
  max-width: 20%;
  flex: 0 0 20%;
}
nav .navPart2 {
  max-width: 80%;
  flex: 0 0 80%;
}

nav .navPart1 .catWrapper {
  position: relative;
}
nav .navPart1 .catWrapper .sidebarNav {
  width: 200px;
  height: 0;
  opacity: 0;
  background: #fff;
  position: absolute;
  top: 115%;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  transition: all 0.2;
  z-index: 1000;
  visibility: hidden;
}

nav .navPart1 .catWrapper .sidebarNav.open {
  height: auto;
  opacity: 1;
  visibility: inherit;
}

nav .navPart1 .catWrapper .sidebarNav ul li {
  width: 100%;
  list-style: none;
  padding: 0px 15px;
}
nav .navPart1 .catWrapper .sidebarNav ul li button {
  color: #000;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize !important;
}
nav .navPart1 .catWrapper .sidebarNav ul li button svg {
  font-size: 14px;
  opacity: 0.5;
}
nav .navPart1 .catWrapper .sidebarNav ul li button:hover {
  background: transparent !important;
}

nav .navPart1 .catWrapper .sidebarNav ul li {
  position: static;
}

nav .navPart1 .catWrapper .sidebarNav ul li .submenu {
  position: absolute;
  top: 0px;
  left: 105%;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  left: 100%;
  transition: all 0.2s ease-in-out;
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu button {
  border-radius: 0px !important;
}

nav .allCatTab {
  padding: 10px 15px !important;
  border-radius: 30px !important;

  color: #fff;
  background: rgba(255, 0, 0, 0.61);

  .text {
    display: flex;
    align-items: center;

    font-weight: 600;

    .icon {
      box-sizing: content-box;

      padding-bottom: 2px;

      font-size: 20px;
    }

    &:hover {
      background: rgba(255, 0, 0, 0.81);
    }
  }
}

nav .navPart2 ul {
  margin-bottom: 0px;
}
nav .navPart2 ul li {
  padding-bottom: 20px;
}
nav .navPart2 ul li a {
  text-decoration: none;
}
nav .navPart2 ul li a button {
  font-size: 14px !important;
  font-weight: 500;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}

nav .navPart2 ul li a:hover {
  background: #f0faff;
  color: #2bbef9;
}

nav .navPart2 ul li {
  position: relative;
}
nav .navPart2 ul li .submenu {
  position: absolute;
  top: 150%;
  left: 0px;
  min-width: 150px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
nav .navPart2 ul li .submenu a {
  display: block;
  width: 100%;
}
nav .navPart2 ul li .submenu a button {
  width: 100%;
  justify-content: flex-start !important;
  border-radius: 0px !important;
  text-transform: capitalize !important;
  font-weight: 500 !important;
}

nav .navPart2 ul li .submenu a button:hover {
  background: #f1f1f1 !important;
}

nav .navPart2 ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  top: 100%;
}
