.navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 210px;
}

.categories-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.categories-button {
  gap: var(--space-10);
  width: 100%;
  max-width: 200px;
  min-width: 150px;
  height: 55px;
  padding: var(--space-2) var(--space-10);
  border-radius: var(--radius-35);
  font-size: var(--font-14);
}

.categories-button .icon:last-child {
  margin-left: auto;
}

.category-menu-1 {
  position: absolute;

  background: var(--color-bg-white);
  top: 68px;
  max-width: 260px;
  min-width: 160px;
  left: 0px;
  padding: var(--space-28) 0px;
  border: var(--border-width-1) rgba(0, 0, 0, 0.1);
  border-top: none;
  border-bottom-left-radius: var(--radius-10);

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;

  pointer-events: none;
  visibility: hidden;
  z-index: 1000;
}

.category-menu-1-show {
  transform: scaleY(1);
  pointer-events: auto;
  visibility: inherit;
}

.category-menu-1 .menu-item {
  padding: var(--space-10) var(--space-12);
}

.category-menu-1 .menu-item a {
  color: var(--color-text-black);
  min-width: 100%;
  justify-content: start;
  gap: var(--space-8);
  font-size: var(--font-16);
  font-weight: 300;
}
.category-menu-1 .menu-item a:hover {
  color: var(--color-text-red-1);
}
.category-menu-1 .menu-item svg {
  font-size: var(--font-18);
  opacity: 0.6;
}
.category-menu-1 .menu-item svg:last-child {
  margin-left: auto;
}

.category-menu-1 .menu-item .sub-menu {
  position: absolute;
  gap: var(--space-6);
  top: 0px;
  left: 259px;
  width: 250px;
  min-height: 544px;
  padding: var(--space-16) 0px;
  background: var(--color-bg-white);
  border: var(--border-width-1) rgba(0, 0, 0, 0.1);
  border-top: none;
  border-left: none;
  border-bottom-right-radius: var(--radius-10);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 0.3s ease;
}

.category-menu-1 .menu-item:hover .sub-menu {
  opacity: 1;
  pointer-events: auto;
  visibility: inherit;
}

.category-menu-2 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  gap: var(--space-10);

  list-style-type: none;
}
.category-menu-2 > .menu-item {
  display: flex;
  align-items: center;
  position: relative;
}
.category-menu-2 > .menu-item > a.btn {
  display: flex;
  gap: var(--space-6);
  font-size: var(--font-14);
  color: var(--color-text-black);
  border-radius: var(--radius-20);
  padding: var(--space-10) var(--space-16);
  text-transform: uppercase;
}

.category-menu-2 > .menu-item > a.btn:hover,
.category-menu-2 > .menu-item:hover > a.btn {
  background: var(--color-bg-red-4);
  color: var(--color-text-red-1);
}

.category-menu-2 .menu-item > .sub-menu {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-12);

  top: 71px;
  left: 0px;
  width: 200px;
  min-height: fit-content;
  padding: var(--space-32) 0px;
  background: var(--color-bg-white);
  border: var(--border-width-1) rgba(0, 0, 0, 0.1);
  border-top: none;
  
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 100;
}
.category-menu-2 .menu-item:hover > .sub-menu {
  transform: translateY(10px);
  opacity: 1;
  pointer-events: auto;
  visibility: inherit;
}
.category-menu-2 .sub-menu > .menu-item {
  padding: 0px var(--space-18);
}
.category-menu-2 .sub-menu > .menu-item > a.btn {
  color: var(--color-text-black);
  min-width: 100%;
  justify-content: start;
  gap: var(--space-8);
  font-size: var(--font-16);
  font-weight: 300;
}
.category-menu-2 .menu-item .sub-menu a:hover {
  color: var(--color-text-red-1);
  background-color: var(--color-bg-white);
}

@media (max-width: 1024px) {
  .navigate {
    display: none;
  }
}
@media (max-width: 480px) {
  .navigate {
    display: none;
  }
}