.navigate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 210px;
}

.categories-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.categories-wrapper .categories-button {
  gap: var(--space-10);
  width: 200px;
  height: 55px;
  padding: var(--space-2) var(--space-10);
  border-radius: var(--radius-35);
  font-size: var(--font-14);
}

.categories-wrapper .categories-button .icon:last-child {
  margin-left: auto;
}

.categories-wrapper .sub-categories-section {
  position: absolute;

  background: var(--color-bg-white);
  top: 68px;
  width: 260px;
  height: max-content;
  left: 0px;
  padding: var(--space-16) 0px;
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
  border-top: none;
  border-bottom-left-radius: var(--radius-10);

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3 ease;
  pointer-events: none;
  z-index: 1000;
}

.categories-wrapper .sub-categories-section-show {
  transform: scaleY(1);
  pointer-events: auto;
}

.categories-wrapper .sub-categories-section .menu-item {
  padding: var(--space-8) var(--space-12);
}

.categories-wrapper .sub-categories-section .menu-item a {
  color: var(--color-text-black);
  min-width: 100%;
  justify-content: start;
  gap: var(--space-8);
  font-size: var(--font-16);
  font-weight: 300;
}
.categories-wrapper .sub-categories-section .menu-item a:hover {
  color: var(--color-text-red-1);
}
.categories-wrapper .sub-categories-section .menu-item svg {
  font-size: var(--font-14);
  opacity: 0.5;
}
.categories-wrapper .sub-categories-section .menu-item svg:last-child {
  margin-left: auto;
}

.categories-wrapper .sub-categories-section .menu-item .sub-categories {
  position: absolute;
  gap: var(--space-6);
  top: 0px;
  left: 259px;
  width: 250px;
  min-height: 456px;
  padding: var(--space-16) 0px;
  background: var(--color-bg-white);
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
  border-top: none;
  border-left: none;
  border-bottom-right-radius: var(--radius-10);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 0.3s ease;
}

.categories-wrapper .sub-categories-section .menu-item:hover .sub-categories {
  opacity: 1;
  pointer-events: auto;
  visibility: inherit;
}

.categories-navigation {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  flex-wrap: wrap;
  gap: var(--space-10);

  list-style-type: none;
}
.categories-navigation > .menu-item {
  display: flex;
  align-items: center;
  position: relative;
}
.categories-navigation > .menu-item > a.btn {
  display: flex;
  gap: var(--space-6);
  font-size: var(--font-14);
  color: var(--color-text-black);
  border-radius: var(--radius-20);
  text-transform: uppercase;
  padding: var(--space-10) var(--space-16);
  transition: all 0.2s ease-in-out;
}

.categories-navigation > .menu-item > a.btn:hover {
  background: var(--color-bg-red-4);
  color: var(--color-text-red-1);
}

.categories-navigation .menu-item > .sub-categories {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-12);

  top: 71px;
  left: 0px;
  width: 200px;
  min-height: fit-content;
  padding: var(--space-32) 0px;
  background: var(--color-bg-white);
  border: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
  border-top: none;
  
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 100;
}
.categories-navigation .menu-item:hover > .sub-categories {
  transform: translateY(10px);
  opacity: 1;
  pointer-events: auto;
  visibility: inherit;
}
.categories-navigation .sub-categories > .menu-item {
  padding: 0px var(--space-18);
}
.categories-navigation .sub-categories > .menu-item > a.btn {
  color: var(--color-text-black);
  min-width: 100%;
  justify-content: start;
  gap: var(--space-8);
  font-size: var(--font-16);
  font-weight: 300;
}
.categories-navigation .menu-item .sub-categories a:hover {
  color: var(--color-text-red-1);
  background-color: var(--color-bg-white);
}