.cart-total {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    width: 300px;
}
.cart-total > div {
    display: flex;
    justify-content: space-between;
}

.cart-total-checkout-button {
    font-size: var(--font-18);
    padding: var(--space-10);
}