.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);

  padding: var(--space-12);
  max-width: 220px;
  min-width: 100px;
}

.sidebar-filter {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.sidebar-filter-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar-filter-scroll::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
.sidebar-filter-on-price {
  display: flex;
  justify-content: space-between;
}

.sidebar .thumbnail {
  max-width: 220px;
  min-width: 200px;
  height: 300px;
}
.sidebar .thumbnail img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}