.product {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 200px;

  border: var(--border-width-1) rgba(0, 0, 0, 0.1);

  /* .loading {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
  } */

  .bg-primary {
    background: #2bbef9 !important;
  }
}

.product-thumbnail {
  position: relative;
  height: 150px;
  padding: var(--space-16) var(--space-16);
  overflow: hidden;
}

.product-thumbnail img {
  /* position: absolute; */
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.product-thumbnail:hover img {
  transform: scale(1.1);
}

.product-badge {
  position: absolute;
  top: var(--space-10);
  left: var(--space-10);
  font-family: var(--font-dosis);
  z-index: 100;
}

.product-badge .btn {
  padding: var(--space-6) var(--space-12);
  font-size: var(--font-12);
  background-color: var(--color-bg-red-3);
  color: var(--color-text-white);
}

.product-buttons {
  position: absolute;
  top: var(--space-20);
  right: var(--space-12);

  display: flex;
  flex-direction: column;
  gap: var(--space-10);

  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 100;
}
.product:hover .product-buttons {
  opacity: 1;
}

.product-buttons .btn {
  padding: var(--space-6);
  font-size: var(--font-8);
}
.product-buttons .btn:hover {
  background-color: var(--color-bg-red-3);
  color: var(--color-text-white);
}

.product-main {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);

  padding: var(--space-30) var(--space-10);
  padding-top: 0;
}
.product-main .product-status {
  color: var(--color-text-success);
  font-family: var(--font-dosis);
  font-size: var(--font-14);
  font-weight: 600;
}
.product-main .product-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;

  font-size: var(--font-16);
  font-weight: 600;
}

.product-main .product-price {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  font-family: var(--font-dosis);
}
.product-main .product-price span {
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
}

.product-main .product-price .product-old-price {
  color: var(--color-text-gray);
  text-decoration: line-through;
  font-size: var(--font-16);
  font-weight: 600;
}
.product-main .product-price .product-net-price {
  color: var(--color-text-red-1);
  font-size: var(--font-18);
  font-weight: 600;
}
