.header {
    display: flex;
    align-items: center;
    padding: var(--space-16);
    gap: var(--space-16);

    height: 80px;
}
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
    padding: var(--space-8);
}
.header-logo img {
    width: 45px;
    height: 45px;
}
.header-menu {
    display: flex;
    align-items: center;
}
.header-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: var(--space-8);
}
.header-notification-header {
    position: sticky;
    top: 0;
}
.header-notification-content {
    height: 500px;
    overflow-y: scroll;
}
.header-notification-content-item {
    display: flex;
    gap: var(--space-8);
}
.header-notification-content-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.header-notification-content-main {
    display: flex;
    flex-direction: column;
}
.header-notification-dropdown-buttons {
    display: flex;
}
.header-notification-dropdown-buttons-view {
    width: 100%;
    color: var(--color-text-white);
    background: var(--color-bg-blue-1);
    padding: var(--space-8);
    border: none;
}
.header-login-button {
    color: var(--color-text-white) !important;
}

.header-profile-info {
    display: flex;
    align-items: center;
    background: transparent;
}

.header-profile-dropdown-item {
    display: flex;
    align-items: center;
    gap: var(--space-8);
}