.toggle .sidebar {
  left: -100%;
  opacity: 0;
}

.sidebar {
  /* position: sticky; */
  position: relative !important;
  width: 100% !important;
  top: 67px !important;
  height: fit-content;
  max-height: calc(100% - 70px);
  position: fixed;
  top: 70px;
  left: 0px;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 40px;
  transition: all 0.3s ease-in-out;

  /* &:-webkit-scrollbar {
    width: 3px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent !important;
  } */

  ul {
    margin-bottom: 0px;
    padding: 10px 15px;

    li {
      list-style: none;

      button {
        color: #5e5d72 !important;
        background: #fff !important;
        border-radius: 5px !important;
        padding: 12px 0px 12px 15px !important;
        font-weight: 700 !important;
        font-size: 15px !important;
        text-transform: capitalize !important;
        font-family: "Open Sans", sans-serif !important;

        * {
          color: #5e5d72 !important;
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: left;
          width: 25px;
          height: 25px;
          margin-right: 10px;
          font-weight: 600 !important;
        }

        .arrow {
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          transition: all 0.3s ease-in-out;
          transform: rotate(0deg);
        }

        &:hover {
          background: #f1f1f1 !important;
        }

        &.active {
          background: #f1f1f1 !important;

          .arrow {
            transform: rotate(90deg);
          }
        }
      }

      .submenu {
        padding: 0px 0px 0px 27px !important;
        overflow: hidden;

        li {
          width: 100%;
          list-style: none;
          padding: 10px 0px !important;
          border-left: 1px solid rgba(0, 0, 0, 0.1);
          padding: 5px 5px 5px 25px !important;

          a {
            color: #5e5d72 !important;
            text-decoration: none;
            display: block;
            font-size: 14px !important;
            font-weight: 500 !important;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            border-left: 1px solid #0858f7 !important;
            a {
              color: #0858f7 !important;
            }
          }
        }
      }
    }

    .submenuWrapper {
      .submenu {
        transition: 0.3s ease-in-out !important;
      }

      &.colapsed .submenu {
        height: 0px;
        opacity: 0;
        height: auto;
        opacity: 1;
      }
    }
  }
}

/* 
   .sidebar ul li button .icon svg {
    color: #000;
    opacity: 0.7;
    font-size: 20px !important;
  } */

body.dark .sidebar {
  background: #12254e !important;

  ul {
    li {
      button {
        background: #12254e !important;
        color: #fff !important;
        opacity: 0.9 !important;

        &:hover {
          background: rgba(255, 255, 255, 0.1) !important;
        }

        &.active {
          background: rgba(255, 255, 255, 0.1) !important;
        }
      }

      .submenu {
        li {
          a {
            color: rgba(255, 255, 255, 0.5) !important;
          }

          &:hover a {
            color: rgba(255, 255, 255, 0.9) !important;
          }
        }
      }
    }
  }
}
