.signup-page {
  display: flex;
  flex-direction: column;
}
.signup-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-page-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-18);
  padding: var(--space-30);
  border-radius: var(--radius-10);
  border: none;
}
body.dark .signup-page-content {
  background: #f1f1f1;
  color: #08143c !important;
}

.signup-page-content-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}
.signup-page-content-form-item {
  position: relative;
  display: flex;
  justify-content: center;
}
.signup-page-content-form-item-control {
  height: 45px;
  width: 100%;
  background: #fff;
  outline: none;
  border-radius: var(--radius-10);
  font-size: var(--font-14);
  font-weight: 600;
  padding-left: var(--space-40);
}
.signup-page-content-form-item-icon {
  position: absolute;
  top: var(--space-14);
  left: var(--space-16);
  color: #08143c !important;
}
.signup-page-content-form-item.focus svg {
  color: #0858f7;
}

.signup-page-content-form-item-control:focus {
  border: 1px solid #0858f7;
}

.signup-page-content-form-item-pass,
.signup-page-content-form-item-pass-confirm {
  position: absolute;
  top: var(--space-14);
  right: var(--space-14);
  font-size: var(--font-16);
  color: #08143c !important;
  cursor: pointer;
}
.signup-page-content-form-item-terms span {
  color: #08143c !important;
  user-select: none;
}
.signup-page-content-form-item-signup {
  width: 100%;
}
.signup-page-content-form-item-forgot {
  color: #5e5d72;
  text-decoration: underline;
  font-size: var(--font-14);
}
.signup-page-content-form-divide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
}
.signup-page-content-form-divide-border {
  width: 100%;
  top: var(--space-24);
  position: absolute;
  border: var(--border-width-1) #08143c;
}
.signup-page-content-form-divide-label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: var(--font-14);
  border-radius: 50%;
  background: #08143c;
}
.signup-page-content-form-item-google {
  position: relative;
}
.signup-page-content-form-item-google img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: var(--space-8);
  left: var(--space-16);
}
.signup-page-content-form-item-google button {
  width: 100%;
}
.signup-page-content-login {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #08143c !important;
}