.home-products {
  padding: 25px 0px 0px;
  width: 100%;

  .side-banner {
    position: sticky;
    top: 0;
    height: 100vh;

    .banner {
      overflow: hidden;

      height: 50%;
      border-radius: 10px;

      color: rgba(0, 0, 0, 0.1);
    }

    img {
      width: auto;
      height: 100%;
    }
  }

  .banner-section {
    display: flex;
    gap: 5px;
    
    .banner {
      width: 50%;

    }

    img {
      width: 100%;
      border-radius: 15px;
    }
  }

  .product-row {
    .productItem {
      border-right: 1px solid transparent !important;
    }

    .swiper-slide:last-child .productItem {
      border: 1px solid rgba(0, 0, 0, 0.1) !important;
    }

    .swiper-button-prev {
      width: 30px !important;
      min-width: 30px !important;
      height: 30px !important;
      
      left: 3px !important;

      border-radius: 50%;

      background: rgba(255, 0, 0, 0.61);
    }

    .swiper-button-prev::after {
      color: #fff !important;

      font-size: 14px !important;
    }

    .swiper-button-next {
      width: 30px !important;
      min-width: 30px !important;
      height: 30px !important;

      right: 3px !important;
      
      border-radius: 50%;
      
      background: rgba(255, 0, 0, 0.61);
    }

    .swiper-button-next::after {
      color: #fff !important;
      
      font-size: 14px !important;
    }
  }

  .new-products-list {
    padding: 10px;
    
    .new-product {
      padding: 0;
    }

  }
}
