.home-products {
  padding: 25px 0px;
  width: 100%;
}

.home-products .side-banner {
  position: sticky;
  height: 100vh;
  top: 0;
  
  .banner {
    height: 50%;
  }
  
  img {
    user-select: none;
    height: 100%;
  }
}

.home-products .banner-section {
  display: flex;
  gap: 5px;
}

.home-products .banner {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
  }
}

.product-row .productItem {
  border-right: 1px solid transparent !important;
}
.product-row .swiper-slide:last-child .productItem {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.product-row .swiper-button-prev {
  left: 3px !important;
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.61);
}
.product-row .swiper-button-next {
  right: 3px !important;
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.61);
}
.product-row .swiper-button-prev::after {
  font-size: 14px !important;
  color: #fff !important;
}
.product-row .swiper-button-next::after {
  font-size: 14px !important;
  color: #fff !important;
}
