.review {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.review .info {
    display: flex;
    flex-direction: column;

    .image {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
    .username {
        display: inline;
        font-size: 1rem;
        font-weight: 500;
        width: 70px;
        max-width: 70px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
    }
    
}

.review .content {
    margin-left: 20px;
    align-self: flex-start;
}