.home {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: var(--space-26);

  padding: var(--space-12) 0px;

  .view-all-btn {
    color: rgba(0, 0, 0, 0.5) !important;

    transition: 0.3s ease;

    &:hover {
      color: rgba(0, 0, 0, 0.9) !important;
    }
  }

  .hd {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .new-products-list {
    display: flex;

    padding: 10px;

    .new-product {
      padding: 0;
    }
  }
}

.side-banner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--space-20);
}


.side-banner {
  .banner-item {
    overflow: hidden;

    height: 50%;
    border-radius: 10px;

    color: rgba(0, 0, 0, 0.1);
  }

  img {
    width: auto;
    height: 100%;
  }
}

.home-main {
  display: flex;
  flex-direction: column;
}

.home-main .best-seller-section {
  display: flex;
  justify-content: space-between;
}

.home-main .best-seller-section .view-button {
  max-height: fit-content;
}

