.home-products {
  padding: 25px 0px 0px;
  width: 100%;

  .side-banner {
    position: sticky;
    top: 0;
    height: 100vh;

    .banner {
      overflow: hidden;

      height: 50%;
      border-radius: 10px;

      color: rgba(0, 0, 0, 0.1);
    }

    img {
      width: auto;
      height: 100%;
    }
  }

  .banner-section {
    display: flex;
    gap: 5px;
    
    .banner {
      width: 50%;
    }

    img {
      width: 100%;
      border-radius: 15px;
    }
  }

  .hd {
    margin-bottom: 0;
    margin-top: 10px;
  }


  .new-products-list {
    display: flex;
    
    padding: 10px;
    
    .new-product {
      padding: 0;
    }
  }
}
