.home {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: var(--space-26);

  padding: var(--space-12) 0px;
}

.side-banner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-shrink: 1;
  gap: var(--space-20);
}

.side-banner .banner-item {
  overflow: hidden;

  height: 50%;
  border-radius: 10px;

  color: rgba(0, 0, 0, 0.1);
}

.home-main {
  display: flex;
  flex-direction: column;
  min-width: 800px;
}

.home-main .best-seller-header,
.home-main .new-products-header,
.home-main .hot-product-header {
  display: flex;
  justify-content: space-between;
}

.hot-product-section .hot-text {
  color: var(--color-text-red-1);
}

.home-main .best-seller-section,
.home-main .new-products-section {
  display: flex;
  flex-direction: column;
}
