.productDetails {
  .hd {
    font-size: 30px;
  }

  .oldPrice {
    display: flex;
    align-items: center;

    font-size: 20px;
    text-decoration: line-through;

    color: rgba(0, 0, 0, 0.3);
  }

  .netPrice {
    margin-left: 7px;

    font-size: 25px;
    font-weight: 500;

    color: red;
  }

  .productSize {
    width: 100%;
    height: auto;
    padding: 25px 0px;

    ul {
      li {
        margin: 2px 2px !important;
        width: 70px !important;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 20px !important;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px !important;
          cursor: pointer;
          text-decoration: none !important;
          color: #000;
          font-size: 16px !important;
          transition: all 0.1s ease-in-out;
          overflow: hidden;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }

          .active {
            background: var(--theme-1) !important;
            color: #fff !important;
          }
        }
      }
    }
  }
  .btn-circle {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background: transparent !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #000;
    padding: 5px !important;

    svg {
      color: rgba(0, 0, 0, 0.5) !important;
      font-size: 20px !important;
    }
  }
}

.productDetails .btn-circle:hover {
  background: var(--theme-1) !important;
  svg {
    color: #fff !important;
  }
}
