.category {
  display: flex;
  justify-content: center;
  gap: var(--space-26);

  padding: var(--space-20);
}
.category-product-section {
  padding: var(--space-24);
}

.view-options-layout {
  display: flex;
  justify-content: space-between;
}
.product-item {
  padding: 0;
}
.pagination {
  display: flex;
  justify-content: center;
}
