.profile-page-sidebar {
  display: flex;
  flex-direction: column;
  justify-items: start;
  padding: var(--space-8);

  height: 500px;
}

.profile-page-sidebar-item {
  display: flex;
  align-items: center;
  gap: var(--space-8);

  padding: var(--space-8) var(--space-40);
  font-size: var(--font-18);

  cursor: pointer;
}
.profile-page-sidebar-item.active {
  color: var(--color-text-white);
  background-color: var(--color-bg-red-1);
  border: var(--border-width-1) var(--color-bg-red-1);
}
.profile-page-sidebar-item.active svg {
  color: var(--color-text-white);
}


@media (max-width: 480px) {
  .profile-page-sidebar {
    flex-direction: row;
  }
}