.product-thumbnails {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-15);
}

.product-thumbnails-badge {
  position: absolute;
  top: var(--space-20);
  left: var(--space-20);
}

.product-thumbnails-slider {
  width: 300px !important;
  height: max-content !important;
}
.product-thumbnails-slider-item img {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-thumbnails-navigation .swiper-wrapper{
  display: flex;
  justify-content: center;
  gap: var(--space-6);
}
.product-thumbnails-navigation {
  width: 300px !important;
  height: max-content !important;
}
.product-thumbnails-navigation-item img {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-thumbnails-navigation-item {
  border: none;
  overflow: hidden;
  border-radius: var(--radius-5);
  cursor: pointer;
}
.product-thumbnails-navigation-item.active {
  border: var(--border-width-1) var(--color-bg-red-1);
  border-radius: var(--radius-5);
  cursor: pointer;
}
/* .product-thumbnails-navigation .slick-current .item {
  border: 2px solid #3bb77e;
}
.product-thumbnails-navigation .slick-arrow {
  top: 55%;
  zoom: 80%;
}
.product-thumbnails-navigation .slick-arrow.slick-next {
  right: -2%;
}
.product-thumbnails-navigation .slick-arrow.slick-prev {
  left: -5%;
} */
