.background {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
    
    margin: 0;
    
    background: rgba(128, 128, 128, 0.3);
    
    z-index: 1000;
}

.notification {
    display: flex;
    flex-direction: column;

    padding: 15px;
    
    width: 400px;
    height: 250px;
    
    background-color: #fff;

    .title {
        flex-grow: 1;
    }

    .content {
        flex-grow: 3;
    }
}