.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding-bottom: var(--space-2md);
  border-bottom: var(--border-width-hairline) rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  flex-direction: column;
}

.banner-strip {
  margin: 0px;
  background-color: var(--color-bg-primary);
  color: var(--color-text-white);
  padding: var(--space-sm) 0px;
  font-size: var(--font-md);
  font-weight: 500;
  text-align: center;
}

.menu-button {
  display: none;
}

.logo img {
  width: 160px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);

  padding-bottom: 10px;
}

.cart-price {
  font-size: var(--font-lg);
  font-weight: 700;
}

.cart {
  position: relative;
}

.cart-button {
  min-width: 40px;
  height: 40px;
  width: 40px;
}

.cart-button svg {
  font-size: 25px;
}

.cart-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -6px;
  right: -4px;
  width: 20px;
  height: 20px;

  color: var(--color-text-white);
  background: var(--color-bg-primary-muted);
}

.signin-button {
  font-size: var(--font-2lg);
  padding: var(--space-md) var(--space-lg);
}

/* SMARTPHONES LANDSCAPE */
@media (max-width: 480px) {
  .banner-strip {
    padding: var(--space-xs) 0px;
    font-size: var(--font-sm);
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px var(--space-sm);
  }

  .menu-button {
    display: block;
    font-size: var(--font-xl);
  }
  .logo img {
    width: 120px;
    height: 80px;
  }

  .header .search-box,
  .header .country-selector,
  .header .signin-button,
  .header .cart-price {
    display: none;
  }

  .cart-button {
    min-width: 35px;
    height: 35px;
    width: 35px;
    color: var(--color-text-primary);
  }

  .cart-button svg {
    font-size: var(--font-md);
  }

  .cart-count {
    top: -4px;
    right: -2px;
    width: 15px;
    height: 15px;
  }
}
/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
}
