.form {
  .form-group {
    margin-bottom: 25px;

    h6 {
      margin-bottom: 8px;
      font-size: 13px;
    }

    textarea,
    input {
      background: #fafafa;
      width: 100%;
      outline: none !important;
      border: 1px solid rgba(0, 0, 0, 0.1) !important;
      height: 58px;
      padding-left: 15px;
      border-radius: 5px;
      font-size: 15px;
    }

    textarea {
      height: 140px !important;
      padding: 7px 10px !important;
    }

    .MuiRating-root {
      span {
        color: #faaf00 !important;
      }
    }
  }

  .MuiSelect-select {
    border: 1px solid #c4c4c4 !important;
    color: #4d4b62 !important;
  }
}

body.dark {
  .form {
    .form-group {
      input,
      textarea {
        background: #132345 !important;
        border: 1px solid #434f68 !important;
        color: rgba(255, 255, 255, 0.6) !important;
      }
    }

    .MuiSelect-select {
      border: 1px solid #0b1a3a !important;
      color: #d2d5db !important;
    }
  }
}
