.product-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 600px;

  z-index: 999 !important;
}
.product-modal .MuiPaper-elevation {
  position: relative;
  padding: var(--space-40);
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
}
.product-modal-close-button {
  position: absolute;
  top: var(--space-16);
  right: var(--space-16);

  width: 30px;
  min-height: 30px;
}
.product-modal-header-rating {
  display: flex;
  gap: var(--space-18);
}

.product-modal-header-rating > * {
  border-left: var(--border-width-2) rgba(0, 0, 0, 0.1);
}

.product-modal-header-rating > *:first-child {
  border-left: none;
}

.product-modal-content {
  display: flex;
  gap: var(--space-16);
}

.product-modal-content-main {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}
.product-modal-content-main-status {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-6);
  font-family: var(--font-dosis);
}
.product-modal-content-main-status-prices {
  display: flex;
  align-items: center;
  gap: var(--space-6);
}
.product-modal-content-main-status-prices-old-price {
  color: var(--color-text-gray-1);
  text-decoration: line-through;
  font-size: var(--font-26);
  font-weight: 600;
}
.product-modal-content-main-status-prices-net-price {
  color: var(--color-text-red-1);
  font-size: var(--font-28);
  font-weight: 600;
}
.product-modal-content-main-status-stock {
  padding: var(--space-8);
  border-radius: var(--radius-20);
  color: var(--color-text-success);
  background-color: var(--color-bg-success);
  font-family: var(--font-dosis);
  font-size: var(--font-14);
  font-weight: 600;
}

.product-modal-content-main-quantity {
  display: flex;
  justify-content: start;
  gap: var(--space-16);
}

.product-modal-content-main-quantity-add-button {
  font-weight: 400;
}

.product-modal-content-main-buttons {
  display: flex;
  gap: var(--space-8);
}

.product-modal-content-main-wishlist-button {
  border-radius: var(--radius-15);
  padding: var(--space-6);
}
.product-modal-content-main-compare-button {
  border-radius: var(--radius-15);
  padding: var(--space-6);
}

@media (max-width: 600px) {
  .product-modal-content {
    flex-direction: column;
  }
}