.dashboard {
    display: flex;
    flex-direction: column;
    padding: var(--space-24);
}
.dashboard-content {
    display: flex;
    flex-direction: column;
}
.dashboard-content-overview {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.dashboard-content-graph-bottom {
    display: flex;
    align-items: center;
}

.dashboard-content-graph-bottom-title {
    color: var(--color-text-white);
}
.dashboard-content-graph-bottom-total {
    color: var(--color-text-white);
    font-weight: bold;
}
.dashboard-content-graph-main {
}