.dashboard {
    display: flex;
}
.dashboard-content {
    display: flex;
}
.dashboard-content-overview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-content-graph-bottom {
    display: flex;
    align-items: center;
}

.dashboard-content-graph-bottom-title {
    color: var(--color-text-white);
}