.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dashboard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-16);

    height: 300px;
}
.dashboard-content-overview {
    flex-grow: 1;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-8);

}
.dashboard-content-overview-item {

}
.dashboard-content-graph {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.dashboard-content-graph-header {
    display: flex;
    align-items: center;
    color: var(--color-text-white);
}

.dashboard-content-graph-header-title {
}
.dashboard-content-graph-header-expand {
}
.dashboard-content-graph-header-total {
    font-weight: bold;
}