* {
  margin: 0;
  padding: 0;
  --theme-1: rgba(255, 0, 0, 0.61);
  --theme-2: #ea2b0f;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

.container {
  max-width: 85%;
}

img {
  user-select: none;
}

.bg-red {
  background-color: rgba(255, 0, 0, 0.61) !important;
  color: #fff !important;
  font-weight: bold !important;
}
.text-red {
  color: #ea2b0f !important;
}

.text-blue {
  color: #53348c !important;
}

@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

.badge {
  display: inline-block;
  padding: 7px 10px;
  border-radius: 20px;
}
.badge.bg-success {
  background: #e5f8ed !important;
  color: #16b858 !important;
}
.badge-success {
  color: #00b853 !important;
  background: #e5f8ed !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}

button {
  text-transform: capitalize !important;
  border: 1px solid transparent !important;
}

.btn-outlined {
  background-color: #fff !important;
  border: 1px solid #ea2b0f !important;
  color: #ea2b0f !important;
}

.btn-red {
  background: #ea2b0f !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.btn-blue {
  background: #233a95 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}
.btn-big {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  font-size: 14px !important;
  padding: 8px 30px !important;
  svg {
    font-size: 20px !important;
  }
}

.btn-round {
  border-radius: 13px !important;
}

.btn-sml {
  font-size: 12px !important;
  color: #000;
  text-transform: capitalize !important;

  svg {
    font-size: 20px;
  }
}



.text-sml {
  font-size: 14px;
}
.cursor {
  cursor: pointer;
}
.text-light {
  color: #8b8888 !important;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}

.hd {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.view-all-btn {
  padding: 5px 25px !important;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 30px !important;
  color: #424040 !important;
  font-weight: 600;
  text-transform: capitalize !important;
}
.view-all-btn svg {
  font-size: 20px;
}


.swiper {
  padding-right: 2px !important;
}

.sticky-top {
  top: 10px !important;
  z-index: 100;
}

.socials ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.socials ul li svg {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.socials ul li a:hover {
  background: rgba(255, 0, 0, 0.61) !important;
}
.socials ul li a:hover svg {
  color: #fff !important;
}

.section {
  padding: 45px 0px;
}

.border-effect {
  position: relative;
  color: var(--theme-1);
  text-decoration: none;
}
.border-effect::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: #102a44;
  content: "";
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.border-effect:hover {
  text-decoration: none;
  color: #000;
}
.border-effect:hover:after {
  width: 100%;
}

