.hot-product {
    display: flex;
    justify-content: space-between;

    border: var(--border-width-3) var(--color-bg-red-2);
}

.thumbnail .badge {
  position: absolute;

  top: var(--space-10);
  left: var(--space-10);

  z-index: 100;
}
