.hot-product {
  display: flex;
  gap: var(--space-30);

  padding: var(--space-30) var(--space-20);
  border-radius: var(--radius-10);
  border: var(--border-width-1) var(--color-bg-red-2);
}

.thumbnail {
  position: relative;
  padding: var(--space-20) var(--space-20);
}
.thumbnail img {
  width: 200px;
  height: 200px;
}

.thumbnail .badge {
  position: absolute;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  background-color: var(--color-bg-red-2);
  padding: var(--space-20) var(--space-20);
  top: var(--space-10);
  left: var(--space-20);

  border-radius: 50%;
  z-index: 100;
}
.thumbnail .badge span {
  font-size: var(--font-24);
  font-family: var(--font-dosis);
  color: var(--color-text-white);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
  padding: var(--space-20) 0;
}

.main .prices {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  font-family: var(--font-dosis);
}

.man .prices span {
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
}

.main .prices .old-price {
  color: var(--color-text-gray);
  text-decoration: line-through;
  font-size: var(--font-16);
  font-weight: 600;
}
.main .prices .net-price {
  color: var(--color-text-red-1);
  font-size: var(--font-18);
  font-weight: 600;
}

.main .name {
  font-size: var(--font-18);
  font-weight: 600;
}
.main .status {
  color: var(--color-text-success);
  font-family: var(--font-dosis);
  font-size: var(--font-14);
  font-weight: 600;
}