.home-banner-section {
  .container {
    width: 50%;
  }
  .item {
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.home-banner-section .swiper {
  border-radius: 25px;
  overflow: hidden !important;
}
.home-banner-section * {
  outline: none !important;
}

.home-banner-section .swiper-button-prev {
  left: 10px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.61);
}
.home-banner-section .swiper-button-next {
  right: 10px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.61);
}
.home-banner-section .swiper-button-prev::after {
  font-size: 0.5rem;
  color: #fff;
}
.home-banner-section .swiper-button-next::after {
  font-size: 0.5rem;
  color: #fff;
}
