.home-banner {
  max-width: fit-content;
}

.home-banner .swiper-wrapper {
  max-width: fit-content;
  
}

.home-banner .banner-item {
  max-width: fit-content;
  border-radius: 25px;
}

/* .home-banner .swiper-button-prev {
  left: 10px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.61);
}
.home-banner .swiper-button-next {
  right: 10px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.61);
}
.home-banner .swiper-button-prev::after {
  font-size: 0.5rem;
  color: #fff;
}
.home-banner .swiper-button-next::after {
  font-size: 0.5rem;
  color: #fff;
} */
