.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner .blank-div {
  width: 400px;
}

.home-banner .swiper {
  width: 870px;
}
.home-banner .swiper-wrapper {
}

.home-banner .banner-item {
  display: inline-block;
  border-radius: 25px;
}

/* .home-banner .swiper-button-prev {
  left: 10px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.61);
}
.home-banner .swiper-button-next {
  right: 10px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.61);
}
.home-banner .swiper-button-prev::after {
  font-size: 0.5rem;
  color: #fff;
}
.home-banner .swiper-button-next::after {
  font-size: 0.5rem;
  color: #fff;
} */
