.quantity-box {
  display: flex;
  justify-content: center;
  gap: var(--space-8);
}
.quantity-box button {
  width: 40px;
  min-height: 40px;
  background: var(--color-bg-gray-2);
  border: var(--border-width-1) rgba(0, 0, 0, 0.1);
}
.quantity-box button svg {
  font-size: var(--font-12);
}
.quantity-box input {
  width: 30px;
  border: 0px;
  outline: none;
  background: transparent;
  text-align: center;
}
