.MuiChartsAxis-line {
    stroke: var(--color-text-white) !important;
}
.MuiChartsAxis-directionX tspan {
    fill: var(--color-text-white) !important;
}
.MuiChartsAxis-directionY tspan {
    fill: var(--color-text-white) !important;
}